<div id="about" class="block about">
	<div class="about-wrapper">

		<div class="about-container row">
			<img src="{{"img/parallax-productions.png" | relURL}}" alt="Kaleidoscope">

			<p class="about-text">
			<strong>PARALLAX PRODUCTIONS</strong>
			Parallax Production is a non-profit organization composed of multimedia arts students of Lyceum of the Philippines University Cavite. It is the official production created by MMA 402 with Mr. Joel Sandejas as the adviser under the course subject that is "MMA Design Production & Portfolio Exhibit." With these. Parallax Production is designated to prepare and organize an exhibition that would allow us the students, to showcase our talents and expose our creativity as a partial fulfillment of the requirement in the degree of Bachelor of Arts in Multimedia Arts.

			<img src="{{"img/kaleidoscope-text-logo.png" | relURL}}" alt="Kaleidoscope">

			<strong>ABOUT KALEIDOSCOPE: BEYOND CONTROL</strong>
			Young creative artists from two different worlds have come together to assemble an object of pure aesthetic. A simple mechanism that lets you see colours and shapes in different ways but it is beyond our control to predict what will happen next. We are often left stunned by the complexity done by this thing, it leaves us thinking “why and what is it?” 
			<br><br>
			A kaleidoscope, an instrument which is assembled by mirrors and never ending patterns. It’s beautiful forms never fails to attract the viewer. Just like the artists, the goal of the art they created is to attract the viewer and make them look deeper to what it truly means; the colours and the patterns that they are trying to perceive.
			</p>
		</div>

	</div>
</div>