<div id="schedule" class="block eventdetails">
	<div class="eventdetails-wrapper row">

		<div class="eventdetails-container group">

			<div class="event-thumbnail">
				<div id="map" class="map"></div>
				<p>
					<strong>Address:</strong> Km. 54 Emilio Aguinaldo Highway Silang Crossing East, Tagaytay City <br>
					<strong>Phone:</strong> <a href="tel:+639972118251">+63 997 211 8251</a> <br>
					<strong>Mobile:</strong> <a href="tel:+639060787706">+63 906 078 7706</a>
				</p>
			</div>

			<div class="event-caption">
				
				<h3 class="event-title">Kaleidoscope 2018 Event Details</h3>

				<ul class="event-date-container">
					<ul class="date">
						<li class="title">March 23</li>
						<li class="subtitle">FRIDAY</li>
						<li class="item"><strong>1:00 PM - 2:00 PM</strong> - Registration</li>
						<li class="item"><strong>2:00 PM - 2:30 PM</strong> - Opening Ceremony</li>
						<li class="item"><strong>2:30 PM - 4:00 PM</strong> - Exhibit Viewing</li>
						<li class="item"><strong>4:00 PM - 5:30 PM</strong> - Creative Talk + Q&A</li>
						<li class="item"><strong>5:30 PM - 7:00 PM</strong> - Film Showing (Bakit Tayo Nandito?, Under My Skin)</li>
						<li class="item"><strong>7:00 PM - 9:00 PM</strong> - Exhibit Viewing, Raffle</li>
					</ul>
					<ul class="date">
						<li class="title">March 24</li>
						<li class="subtitle">SATURDAY</li>
						<li class="item"><strong>11:00 AM - 12:00 PM</strong> - Registration</li>
						<li class="item"><strong>12:30 PM - 1:30 PM</strong> - Exhibit Viewing</li>
						<li class="item"><strong>1:30 PM - 3:00 PM</strong> - Creative Talk + Q&A</li>
						<li class="item"><strong>3:00 PM - 4:00 PM</strong> - Exhibit Viewing</li>
						<li class="item"><strong>4:00 PM - 5:30 PM</strong> - Creative Talk + Q&A</li>
						<li class="item"><strong>5:30 PM - 7:00 PM</strong> - Film Showing (Picture, Caleb)</li>
						<li class="item"><strong>7:00 PM - 9:00 PM</strong> - Exhibit Viewing, Raffle, Awarding</li>
					</ul>
					<ul class="date">
						<li class="title">March 25</li>
						<li class="subtitle">SUNDAY</li>
						<li class="item"><strong>10:00 AM - 11:00 PM</strong> - Registration</li>
						<li class="item"><strong>11:00 PM - 12:30 PM</strong> - Exhibit Viewing</li>
						<li class="item"><strong>12:30 PM - 2:00 PM</strong> - Film Showing (Immunity, Lupin)</li>
						<li class="item"><strong>2:00 PM - 3:00 PM</strong> - Exhibit Viewing</li>
						<li class="item"><strong>3:00 PM - 4:30 PM</strong> - Creative Talk + Q&A</li>
						<li class="item"><strong>4:30 PM - 7:30 PM</strong> - Exhibit Viewing</li>
						<li class="item"><strong>7:30 PM - 8:00 PM</strong> - Raffle</li>
						<li class="item"><strong>8:00 PM - 9:30 PM</strong> - Special Performances</li>
						<li class="item"><strong>9:30 PM - 10:00 PM</strong> - Closing Ceremony, Awarding Ceremony</li>
					</ul>

				</ul>

			</div>

		</div>

	</div>
</div>